[submodule "packages/boost"]
	path = packages/boost
	url = git@github.com:bydist/boost.git
[submodule "packages/zlib"]
	path = packages/zlib
	url = git@github.com:bydist/zlib.git
[submodule "packages/icu"]
	path = packages/icu
	url = git@github.com:bydist/icu.git
[submodule "packages/bzip2"]
	path = packages/bzip2
	url = git@github.com:bydist/bzip2.git
